<h2><%= @event.name %></h2>
<h3><%= @event.description %></h3>
<p><%= @event.location %></p>
<h3>Participant</h3>
<ul>
  <% @event.participants.each do |single_participant| %>
    <li><%= single_participant.name %> is bringing <%= single_participant.guests %> guests<br /></li>
<% end %>
</ul>
